<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Customer Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tab1">
        <ion-icon name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Organization Name: Cebu Farmers Market</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Organization Address: Banilad Town Center, Cebu City</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email: cebufarmersmarket&#64;example.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Password: ********</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Phone Number: +6399104563211</ion-label>
  </ion-item>
</ion-content>
