<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LoginPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header with logo and navigation -->
  <div class="header">
    <div class="logo">
      <ion-icon name="leaf" class="logo-icon"></ion-icon>
      <span class="logo-text"><span class="agri">Agri</span><span class="venture">Venture</span></span>
    </div>
    <ion-icon name="help-circle-outline" class="help-icon"></ion-icon>
  </div>

  <!-- Hero image -->
  <div class="hero-image">
    <img src="assets/Farmer-pic.jpg" alt="Farmer background">
  </div>

  <!-- Back button -->
  <div class="back-button">
    <ion-icon name="arrow-back"></ion-icon>
  </div>

  <!-- Login form -->
  <div class="form-container">
    <div class="form-group">
      <label>Email</label>
      <ion-item class="custom-input">
        <ion-input placeholder="Enter your Email"></ion-input>
      </ion-item>
    </div>

    <div class="form-group">
      <label>Password</label>
      <ion-item class="custom-input">
        <ion-input type="password" placeholder="Enter your Password"></ion-input>
        <ion-icon name="eye-outline" slot="end"></ion-icon>
      </ion-item>
    </div>

    <div class="remember-forgot">
      <div class="remember">
        <ion-checkbox mode="md"></ion-checkbox>
        <span>Remember me</span>
      </div>
      <a href="#" class="forgot">Forgot Password?</a>
    </div>

    <ion-button expand="block" class="sign-in-button" (click)="navigateToProfileConsumer()">
      Sign in
    </ion-button>

    <div class="signup-text">
      Don't have an account? <a routerLink="/profile-consumer">Sign up</a>
    </div>
  </div>
</ion-content>
