<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ProfileConsumer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
    <ion-img>
      <img src="assets/icons/profileimg1.png" alt="Profile Image" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
    </ion-img>
  </div>
  <div style="display: flex; gap: 10px;">
    <ion-item style="flex: 1;">
      <ion-input type="text" placeholder="Pedro" labelPlacement="stacked">First Name</ion-input>
    </ion-item>
    <ion-item style="flex: 1;">
      <ion-input type="text" placeholder="Penduko" labelPlacement="stacked">Last Name</ion-input>
    </ion-item>
  </div>
  <br/>
  <ion-item>
    <ion-input type="text" placeholder="******" labelPlacement="stacked">Password</ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="+639207894566" labelPlacement="stacked">Phone Number</ion-input>
  </ion-item>
  <ion-item>
    <ion-input  value="01-01-2000" placeholder="DOB" labelPlacement="stacked">Date of Birth</ion-input>
    <ion-icon name="calendar" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-select label="Gender" placeholder="Male">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-checkbox labelPlacement="end">I Agree with <a href="privacy">privacy</a> and <a href="policy">policy</a></ion-checkbox>
  <br/>
  <ion-button id="CreateAccount" routerLink="/tab5">Create Account</ion-button>
</ion-content>
