<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs-b/tab5">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <label>First Name: Pedro</label>
  </ion-item>
  <ion-item>
    <label>Last Name: Penduko</label>
  </ion-item>
  <br/>
  <ion-item>
    <label>Password: ******</label>
  </ion-item>
  <ion-item>
    <label>Phone Number: +639207894566</label>
  </ion-item>
  <ion-item>
    <label>Date of Birth: 2000-01-01</label>
  </ion-item>
  <ion-item>
    <label>Gender: Male</label>
  </ion-item>
</ion-content>
