<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-row>
      <ion-col size="6" *ngFor="let product of products">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Price: ₱{{ product.price }}</p>
            <p>{{ product.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-button expand="full" (click)="loadProducts()" class="ion-margin-top">
    Refresh Products
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
