<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LoginPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list> 
      <ion-item>
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <br/>
      <ion-item>
        <ion-input type="text" placeholder="Password"></ion-input>
      </ion-item>
      <br/>
      <ion-checkbox labelPlacement="end">Remember Me </ion-checkbox>
      <a href="Forgot Pasword"> Forgot Password?</a>
      <br/>
      <ion-button id="Sign In">Sign In</ion-button>
      <br/>
      <ion-button id="Gmail">Gmail</ion-button>
      <ion-button id="Facebook">Facebook</ion-button>
      <ion-button id="AppleId">AppleId</ion-button>
      <br/>
      <ion-label>Don't have an account?<a href="/profile-organization">Sign Up</a></ion-label>
  </ion-list>
</ion-content>
