<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AgriVenture</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo-container ion-text-center">
    <img src="assets/images/farm-background.jpg" alt="Farm Background" class="background-image">
    <h1 class="logo-text">
      <span class="agri">Agri</span><span class="venture">Venture</span>
    </h1>
    <p class="tagline">Where Farmers Meet the Future of Buying</p>
  </div>

  <div class="button-container">
    <ion-button expand="block" class="social-button facebook-button">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Continue with Facebook
    </ion-button>

    <ion-button expand="block" class="social-button google-button">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Continue with Google
    </ion-button>

    <ion-button expand="block" class="social-button apple-button">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Continue with Apple
    </ion-button>

    <div class="divider">
      <span>Or</span>
    </div>

    <ion-button expand="block" class="signin-button" routerLink="/login">
      Sign in with Account
    </ion-button>

    <div class="signup-text ion-text-center">
      <p>Don't have account? <a routerLink="/sign-up">Sign up</a></p>
    </div>
  </div>
</ion-content>
