<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ProfileOrganization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" labelPlacement="stacked" placeholder="Cebu Farmers Market" >Organization Name</ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Banilad Town Center, Cebu City">Organization Address</ion-input>
  </ion-item>
  <br/>
  <ion-item>
    <ion-input type="text" labelPlacement="stacked" placeholder="cebufarmersmarket@example.com">Email</ion-input>
  </ion-item>
  <ion-item>
  <ion-input type="text" labelPlacement="stacked" placeholder="********">Password</ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" labelPlacement="stacked" placeholder="+6399104563211">Phone Number</ion-input>
  </ion-item>
  <ion-checkbox labelPlacement="end">I Agree with <a href="privacy">privacy</a> and <a href="policy">policy</a></ion-checkbox>
  <br/>
  <ion-button id="CreateAccount" routerLink="/tab1">Create Account</ion-button>
</ion-content>
